##### LOCAWEB - NAO REMOVER #####
AddHandler php73-script .php
suPHP_ConfigPath /home/saulobenicio1/
##### LOCAWEB - NAO REMOVER #####

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://saulobenicio.com.br/$1 [R,L]